
FPSShooter/Library/PackageCache/com.unity.sysroot.linux-x86_64@0.1.14-preview/data~/payload.tar.7z
FPSShooter/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@0.1.19-preview/data~/payload.tar.7z
FPSShooter/Library/PackageCache/com.unity.ide.visualstudio@2.0.8/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
